APP_NAME=Go Teaching Backend
APP_ENV=development
CORS_ORIGINS=http://127.0.0.1:5173,http://localhost:5173
CORS_ORIGIN_REGEX=^https?://((localhost|127\.0\.0\.1)|((10|192\.168|172\.(1[6-9]|2\d|3[0-1]))\.\d+\.\d+))(:\d+)?$

KATAGO_EXECUTABLE=../tools/katago/opencl/katago.exe
KATAGO_MODEL=../models/katago/kata1-b18c384nbt-s9372115968-d4150170048.bin.gz
KATAGO_ANALYSIS_CONFIG=../config/katago-analysis.cfg

DEFAULT_BOARD_SIZE=19
DEFAULT_KOMI=7.5
DEFAULT_RULES=tromp-taylor
